#Weared{
    background-image: url('../../../public/glassesImage/model.jpg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: top;
}
#Weared img{
    width: 35%;
    margin-top: 20%;
}